.about-us {
  display: grid;
  grid-template-columns: 34rem 1fr;
  align-items: center;
  max-width: var(--content-max-width);
  margin: auto;
  padding: 5.625rem 0;
}

.about-us h1 {
  margin: 0;
}

.about-us__content p {
  padding-right: 4rem;
  margin-top: 2.5rem;
}

.about-us__img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-left: 1px solid var(--black);
}

.about-us__img img {
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 6px rgb(219 218 218);
}
