.amenities {
  max-width: var(--content-max-width);
  margin: auto;
}

.amenities h1 {
  margin: 0;
}

.amenities__wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 5.625rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: var(--img-shadow);
  width: 10rem;
  height: 10rem;
}

.card img {
  width: 3rem;
}
