.amenities {
  max-width: var(--content-max-width);
  margin: auto;
  padding-top: 8.625rem;
  padding-bottom: 2.5rem;
  background: url(../assets/palm-leaf-right.svg) no-repeat 30% 0;
}

.amenities h1,
.amenities p {
  margin: 0;
}

.amenities__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: var(--img-shadow);
  width: 13rem;
  padding: 3rem 0;
  background-color: var(--white);
}

.card h3 {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .amenities {
    text-align: center;
    padding-top: 0;
    background: url(../assets/palm-leaf-right.svg) no-repeat 35% 46%;
    background-size: 10rem;
  }

  .amenities__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2.5rem 1rem;
  }

  .card {
    min-height: 10.625rem;
    max-width: 8rem;
    padding: 0 1rem;
  }

  .card img {
    width: 3.125rem;
  }
}
