.reviews {
  padding-top: 8.25rem;
  padding-bottom: 5.625rem;
  max-width: var(--content-max-width);
  margin: auto;
  background: url(../assets/palm-leaf-left.svg) no-repeat 80% 0%;
}

.reviews__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.reviews__card {
  display: grid;
  max-width: 20.5rem;
  padding: 1rem;
  box-shadow: var(--img-shadow);
  border-radius: 1rem;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.review-header p {
  margin: 0;
}

.review-header__profile {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.review-header__profile img {
  height: 3rem;
}

.review-header__name-country p {
  margin: 0 0 0 0.5rem;
}

.review-header__icon {
  width: 1.5rem;
}

.share-review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
}

.share-review input,
.share-review button {
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .reviews {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .reviews__wrapper {
    justify-content: center;
  }
  .reviews__card:last-child {
    display: none;
  }
}
