.reviews {
  padding: 3.625rem 2.5rem;
  max-width: var(--content-max-width);
  margin: auto;
}

.reviews h1 {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.reviews__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.reviews__card {
  display: grid;
  gap: 1rem;
  max-width: 20.5rem;
  padding: 1rem;
  box-shadow: var(--img-shadow);
  border-radius: 1rem;
  background-color: var(--white);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.review-header p {
  margin: 0;
}

.review-header__profile {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.review-header__profile img {
  height: 3rem;
}

.review-header__name-country p {
  margin: 0 0 0 0.5rem;
}

.review-header__icon {
  width: 1.5rem;
}

.share-review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
}

.share-review input,
.share-review button {
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .reviews {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .reviews__wrapper {
    justify-content: center;
  }
  .reviews__card:last-child {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .reviews {
    padding-top: 0;
    margin-top: 5rem;
    background-position: 50% 60%;
    background-size: 10rem;
  }
  .reviews h1 {
    text-align: center;
  }
  .reviews__wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 525px) {
  .reviews__wrapper {
    align-items: center;
  }
}
