.rooms {
  padding-bottom: 3.625rem;
  background: url(../assets/palm-leaf-left.svg) no-repeat 69% 55%;
}

.rooms__wrapper {
  max-width: var(--content-max-width);
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
  bottom: 3rem;
}

.rooms h1 {
  display: block;
  margin-top: 0;
}

.rooms__img {
  border-right: 1px solid var(--black);
  padding-right: 6rem;
}

.rooms__img img {
  width: 24rem;
  border-radius: 2rem;
  box-shadow: var(--img-shadow);
}

.rooms__content {
  padding-left: 2rem;
}

.rooms__mobile-contact-us {
  display: none;
}

.rooms__mobile-bg {
  display: none;
}

@media screen and (max-width: 900px) {
  .rooms {
    display: flex;
    flex-direction: column;
    height: 85vh;
    padding-top: 5rem;
    padding-bottom: 0;
    background-position: 50% 100%;
    background-size: 10rem;
  }

  .rooms__wrapper {
    margin-top: 5rem;
    display: block;
    bottom: 0;
  }

  .rooms h1 {
    text-align: center;
  }

  .rooms__img {
    padding-right: 0;
    border: none;
    position: relative;
  }

  .rooms__img img {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .rooms__content {
    position: absolute;
    display: flex;
    top: 13rem;
    margin: 0 3rem;
    z-index: 900;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .rooms__content h2,
  .rooms__content h5 {
    margin: 0.265rem 0;
  }

  .rooms__content p {
    text-align: center;
  }

  .rooms__mobile-bg {
    display: block;
    position: absolute;
    margin: 0 3rem;
    background-color: var(--white);
    top: 12rem;
    right: 0;
    left: 0;
    bottom: -6rem;
    opacity: 0.8;
  }

  .rooms__mobile-contact-us {
    display: flex;
    text-decoration: none;
    margin: auto;
    width: 9rem;
    height: 2.75rem;
  }
}
