.rooms {
  padding: 5.625rem 0;
  background-color: var(--dark-bg);
}

.rooms__wrapper {
  max-width: var(--content-max-width);
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
  color: var(--bg-white);
}

.rooms h1 {
  display: block;
  margin-top: 0;
}

.rooms__img {
  padding-right: 6rem;
}

.rooms__img img {
  width: 24rem;
  border-radius: 2rem;
  box-shadow: var(--img-shadow);
}

.rooms__content {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}

.rooms__content h2,
.rooms__content h5,
.rooms__content p {
  margin: 0;
}

.rooms__mobile-contact-us {
  display: flex;
  text-decoration: none;
  width: 8rem;
  height: 2.75rem;
  background-color: var(--white);
  color: var(--primary);
  margin-top: 1rem;
}

.rooms__mobile-bg {
  display: none;
}

@media screen and (max-width: 900px) {
  .rooms {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-position: 50% 100%;
    background-size: 10rem;
    height: 100vh;
  }

  .rooms__wrapper {
    margin-top: 5rem;
    display: block;
    bottom: 0;
  }

  .rooms h1 {
    text-align: center;
  }

  .rooms__img {
    padding-right: 0;
    border: none;
    position: relative;
  }

  .rooms__img img {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .rooms__content {
    position: absolute;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    top: 16rem;
    margin: 0 3rem;
    z-index: 900;
    padding: 0 1rem;
    color: var(--dark-gray);
    padding: 1rem;
    height: 18rem;
  }

  .rooms__content h2,
  .rooms__content h5 {
    margin: 0;
    text-align: left;
  }

  .rooms__content p {
    text-align: left;
  }

  .rooms__mobile-bg {
    display: block;
    position: absolute;
    margin: 0 3rem;
    background-color: var(--white);
    top: 16rem;
    right: 0;
    left: 0;
    bottom: -15rem;
    opacity: 0.8;
  }

  .rooms__mobile-contact-us {
    display: flex;
    text-decoration: none;
    margin: auto;
    width: 9rem;
    height: 2.75rem;
    background-color: var(--primary);
    color: var(--bg-white);
  }
}
