/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.my-slides {
  display: none;
}

/* Next & previous buttons */
.prev {
  background: url(/assets/arrow-left.svg) center no-repeat;
  left: -4rem;
}

.next {
  background: url(/assets/arrow-right.svg) center no-repeat;
  right: -4rem;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 3rem;
  margin-top: -22px;
  height: 3rem;
  transition: 0.6s ease;
  user-select: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--primary);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .next {
    right: 0rem;
    top: 25rem;
  }
  .prev {
    left: 0;
    top: 25rem;
  }
}
